<p> Welcome to the Trikke and Turf blogosphere, <%= @user.username %>! </p>

<p>
  We're excited to have you here! Please check back frequently as there will be features added to our site all this week! (And probably this week only!)
</p>

<p>
  In case you forgot how you got to us in the first place, join us again <%= link_to "here", root_url %>.
</p>

<p>
 Once again, thanks for joining us, and we hope you enjoy your stay!
</p>

<p>Sincerely,</p>
<p>The Staff</p>
