<p>Greetings from the Trikke and Turf Blogosphere! Your friend <%= @first_name %> thought you would like to see this post!</p>

<p>
  <%= render @post %>
</p>

<p>
   We sincerely hope you enjoyed this post. If you did and you'd like to see more, please visit us at: <%= link_to, "Trikke and Turf", root_url %>!
</p>

<p>Sincerely,</p>
<p>The Staff</p>
<p>Trikke and Turf Blogosphere</p>
